.subhero-container {
    height: 50vh;
    background-image: url('../image/cover2.jpg');
}

.subhero-container img {
    max-height: 100%;
}

.subhero {
    height: 100%;
}

.subhero div {
    height: 40%;
}
